include /mixins/inclusions

mixin mapButton(location)
  .d-grid.gap-2 
    if location
      a.map-link.btn.btn-outline-primary.btn-sm.mt-1(
        href=`https://maps.google.com/?q=${encodeURIComponent(location)}`,
        target="_blank",
        rel="noopener noreferrer"
      )
        i.bi.bi-geo-alt.me-2 
        | Open map
    else
      .btn.btn-outline-dark.btn-sm.disabled.mt-1(disabled)
        i.bi.bi-geo-alt.me-2 
        | Map not available

mixin mapButtonScript 
  +script('mapButtons')