include /mixins/inclusions

block append styles
  +style('textareaCounter')

block append script
  +script('textareaCounter')

mixin textareaCounter(warnAt=-0.5, dangerAt=-0.9)
  -
    if (attributes.maxlength) {
      if (warnAt < 0) warnAt = (-warnAt * attributes.maxlength);
      if (dangerAt < 0) dangerAt = (-dangerAt * attributes.maxlength);
    }

  .message-counter(data-tc-warn-at=warnAt, data-tc-danger-at=dangerAt)
    textarea&attributes(attributes)
      block
    if attributes.maxlength 
      .message-counter-hint.text-body-tertiary.opacity-25
        span.message-counter-count 0
        | /#{attributes.maxlength}
