extends /layout

block nav
  //- no menu here

block content
  .container.py-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        a.text-decoration-none.cursor-default(href="/locked/login")
          .card.text-center.shadow-sm
            .card-body.py-5
              h1.m-0.card-title.vibes-script Coming Soon


block footer 
  //- nothing down here either