.message-counter {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .message-counter-hint {
    font-size: 0.875rem;
    align-self: flex-end;
    line-height: 1.2;
    pointer-events: none;
  }

  textarea:not(:focus) + .message-counter-hint {
    opacity: 0.25 !important;
  }
}
